.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: absolute;
    padding-left: 3rem;
    padding-right: 3rem;
}

.headerLinks {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--textColor);
}

.headerLinks:hover {
    text-decoration: underline;
}

.logo {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--textColor);
    font-weight: 500;
}