.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 3rem;
    padding-right: 3rem;
}

.headerLinks {
    text-decoration: none;
    color: var(--textColor);
}

.headerLinks:hover {
    text-decoration: underline;
}