.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: absolute;
    padding-left: 3rem;
    padding-right: 3rem;
}

.headerLinks {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--textColor);
    margin-left: 1.3rem;
}

.headerLinks:hover {
    text-decoration: underline;
}

.logo {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    color: var(--textColor);
    font-weight: 500;
}