.hero {
    height: 85vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heroTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroText {
    font-size: 7rem;
    font-family: "Dancing Script", cursive;
}

.stars {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 1px;
    height: 80%;
    width: 20%;
}

.starImage {
    height: 50%;
    width: 10%;
    object-fit: cover;
}

.motto {
    margin-top: 1rem;
}