.hero {
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.heroImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heroTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroText {
    font-size: 7rem;
    font-family: "Dancing Script", cursive;
}